main {
    max-width: 50rem;
    margin: 0 auto;
    padding: 3.125rem 0;
    text-align: center;
    background-color: black;
}
  
h1 {
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
}
  
form {
    display: flex;
    flex-direction: column;
    max-width: 31.25rem;
    margin: 0 auto;
}
  
label {
    font-size: 1.2rem;
    margin-bottom: 0.625rem;
}
  
input[type="text"],
input[type="email"],    
textarea {
    padding: 0.625rem;
    margin-bottom: 1.25rem;
    border-radius: 0.313rem;
    border: none;
    background-color: #f0f0f0;
    font-size: 1.2rem;
}
  
input[type="submit"] {
    padding: 0.625rem 1.25rem;
    border-radius: 0.313rem;
    border: none;
    background-color: black;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}
  
input[type="submit"]:hover {
    background-color: red;
}
  
footer {
    text-align: center;
    padding: 1.25rem 0;
    background-color: black;
    color: white;
    width: 102%;
    margin-left: -1%;
    margin-bottom: -2%;
    font-size: 0.8rem;
}

.wave-container {
    position: relative;
    width: 105%;
    height: 100%;
    overflow: hidden;
    background-color: red;
    position: absolute;
    z-index: -1;
    margin-top: -3.3%;
    margin-left: -25%;

    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    
}
  
.wave {
    bottom: 0;
    left: 0;
    height: 135%;
    width: 260%;
    background: linear-gradient(135deg, #8B0000 0%, #ff1c1c 25%, #650000 50%, #ff1616 75%, #8B0000 100%);
    animation: wave 10s linear infinite;
}
  
 @keyframes wave {
    0% {
      transform: translateX(0) translateY(0);
    }
    120% {
      transform: translateX(-60%) translateY(5%);
    }
}