body{
	overflow-x: hidden;
	color: white;
	font-family: 'Iceland', cursive;
	font-size: 200%;
}

a{
    list-style-type: none;
    text-decoration: none;
    list-style: none;
	color: white;
}

header{
	background-color: #202020;
	width: 102vw;
	height: 15vh;
	margin-top: -10px;
	margin-left: -10px;

	display: flex;

	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.pomi{
	align-items: center;
	height: 100%;
	width: 40%;
	margin-left: 2%;

}

.boxxy{
	height: 40%;
	width: 15%;
}

#log-in{
	margin-left: 40%;
}

.index-body{
	height: 86vh;
	width: 105vw;
	margin-left: 0vw;
	margin-top: 0vh;
}

.sushiB{
	width: 100%;
	height: 100%;
	z-index: -1;
	margin-left: -1%;
}

.black-box{
	position: absolute;
	display: flex;


	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;


	background: rgba(0, 0, 0, 0.5);
	z-index: 0;
	height: 85%;
	width: 101%;
	margin-left: -1%;

}

.Logo{
	height: 50%;
	width: 20%;
	margin-left: -1%;
	margin-top: -2%;
}

.logoIMG{
	height: 100%;
	width: 100%;

}

.loremip{
	display: flex;
	align-items: center;
	text-align: center;

	width: 40%;
	margin-top: -1%;
}

.extended-body{
	position: absolute;
	display: flex;
	z-index: 0;


	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	align-content: center;

	z-index: 0;
	height: 30vh;
	width: 101vw;
	margin-left: -1%;
}

#white-body{
	margin-top: 30vh;
	height: 60vh;
}
#bottem-body{
	background-color: black	;
	margin-top: 90vh;
	height: 90vh;

	flex-direction: column;
}

.loremip2{
	width: 50%;
	margin-left: 3%;
	display: flex;
	align-items: center;
	text-align: center;
}

.bimg{
	position: absolute;
	z-index: -2;
	height: 100%;
	width: 100%;
}

.red-overlay{
	position: absolute;
	background: rgba(255, 0, 0, 0.7);
	height: 100%;
	width: 100%;
	z-index: -1;
}

.order{
	height: 20%;
	width: 10%;
	margin-left: 30%;

	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;

	border-style: solid;
	border-radius: 0.5%;
}

.order:hover{
	background: rgba(114, 0, 0, 0.6);
}

.textholdster{
	display: flex;
	z-index: 0;

	height: 80%;
	width: 60%;

	margin-left: 5%;

	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: center;
}

.IMGholdster{
	
	display: flex;

	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	align-content: center;
	justify-content: center;


	height: 80%;
	margin-left: 4%;
	
}

.logoholder{
	position: absolute;
	height: 40%;
}

.balls{
	width: 100%;
	height: 100%;
}

.titel{
	height: 20%;
	color: red;
	font-size: 150%;
}

.loremtxt{
	color: black;
	font-size: 125%;
	margin-top: -5%;
}

.holdster{
	height: 20%;
	margin-top: 3%;
}

.holdster2{
	height: 60%;
	width: 44%;

	display: flex;
	align-items: center;
	text-align: center;
}


.backgroundbox{
	background-color: black;
	height: 100vh;
	width: 101vw;
	margin-left: -1%;	

	display: flex;

	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.side{
	height: 100%;
	width: 15%;
	z-index: 0;	
}

.middel{
	height: 100%;
	width: 70%;

	display: flex;

	flex-direction: row;	
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
}

.stbg{
	position: absolute;
	z-index: 0;
	background: rgba(163, 2, 2, 0.6);
	height: 100%;
	width: 15%;
} 

.chicken{	
	position: absolute;
	z-index: -1;
	height:100%;
	width: 15%;
}

.scrollmenu{	
	position: absolute;
	width: 75%;
	height: 63%;
	left: 0%;
	top: 36.2%;
	overflow-y: scroll;


	display: flex;
	
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:center;
	align-items: center;
	align-content: flex-start;
}

.sus{
	border: 2px solid red;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	height: 325px;
	width: 300px;
	margin-left: 5%;
	margin-top: 4%;

}	

.IMG-holder{
	height: 50%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border: 1px solid red;
}

.image{
 	height: 100%;
 	width: 100%;
}
.txt-holder{
	height: 50%;
	margin-top: -14.2%;
	font-size: 40%;
	background: #2C2C2C;
}

.txt-mover{
	margin-top: 14%;
	margin-left: 1%;
}
.add{
	border-left: 1px solid #818181;
	border-top: 1px solid #818181;
	border-bottom: 1px solid #000000;
	border-right: 1px solid #000000;
	width: 20px;
	height: 20px;
	margin-left: 90%;
}

.plus{
	position: absolute;
	color: white;
	font-size: 250%;
	margin-top: -1.1%;
	margin-left: 0.17%;	
}

.menulogo{
	position: absolute;
	width: 10%;
	margin-top: -36%;
}

.arch{
	height: 100%;
	width: 100%;
}
.backgroundblack{
	background-color: black;
	height: 22.5%;
	width: 100%;
	margin-top: -37.5%;
}

.bal {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;

	animation: error 0.25s ease-in forwards .01s;
}

.error {
	background-color: gray;
	color: #fff;
	padding: 20px;
	border-radius: 5px;
	position: relative;
	text-align: center;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.close {
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
}

.close p {
	font-size: 18px;
	margin: 0;
	padding: 0;
}

.close:hover {
	transform: scale(1.1);
}

@keyframes error{
	0%{
		transform: scale(0);
		
	}
	100%{
		transform: scale(1);
	}

}

.success {
	color: black;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	animation: success 4s ease forwards;
	z-index: 1;
}

.success p {
	font-size: 24px;
	text-align: center;
	margin: 0;
	padding: 0;
}
	
.cone {
	position: absolute;
	margin-left: 35%;
	width: 300px;
	height: 300px;
	background-color: rgba(255, 250, 151, 0.9);
	transform: translate(-50%, -50%) rotate(45deg);
	filter: blur(175px);
	z-index: -1;
}
	
	@keyframes success {
		0% {
		opacity: 0;
		transform: translate(-50%, -150%);
		}
		25% {
		opacity: 1;
		transform: translate(-50%, -50%);
		}
		50%{
			opacity: 1;
			transform: translate(-50%, -50%);
		}
		100%{
		opacity: 0;
		transform: translate(-50%, -50%);
		}
	}

.menu-item {
	background-color: #373737;
	color: #ffffff;
	font-size: 50%;
	height: auto;	
	width: 25%;
	margin-left: 2%;
	margin-top: 2%;	
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
}

.menu-item img {
    width: 80%;
	height: auto;
    display: block;
    margin: 0 auto;
	border: red 1px solid;
	border-radius: 1rem;
}

.menu-item h1 {
    text-align: center;
    margin-top: 3%;
    margin-bottom: 1%;
}

.menu-item p {
    text-align: justify;
    margin-top: 1%;
	margin-left: 5%;
    margin-bottom: 2%;
}

.menu-item span {
    display: block;
    color: red;
    text-align: center;
    margin-top: 3%;
}

.menu-item form {
    display: inline-block;
    margin-bottom: 2%;
}

.menu-item input[value="X"] {
	border-top-left-radius: 1rem;
    background-color: red;
    color: black;
    border: none;
    padding: 1% 100%;
    cursor: pointer;
}

.menu-item input[value="+"] {
	margin-left: 2600%;
	border-top-right-radius: 1rem;
    background-color: white;
    color: black;
    border: none;
    padding: 1% 100%;
    cursor: pointer;
}

.addbar {
    width: 100%;
	height: 70%;
	margin-left: 20%;
    margin: 0 auto;
}

.addbar form {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: space-evenly;

}

.addbar input[type=text],
.addbar input[type=description],
.addbar input[type=img],
.addbar input[type=price],
.addbar input[type=submit] {
    width: 40%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    border: none;
}

.addbar input[type=submit] {
    background-color: #dd1122;
    color: #fff;
    font-weight: bold;
    transition: transform 0.2s ease-in-out;
	position: absolute;
	margin-top: 6%;
}

.addbar input[type=submit]:hover {
    transform: scale(1.05);
}







