body{
	overflow-x: hidden;
	color: white;
	font-family: 'Iceland', cursive;
	font-size: 200%;
}

a{
    list-style-type: none;
    text-decoration: none;
    list-style: none;
	color: white;
}

header{
	background-color: #202020;
	width: 102vw;
	height: 15vh;
	margin-top: -10px;
	margin-left: -10px;

	display: flex;

	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.pomi{
	align-items: center;
	height: 100%;
	width: 20%;

}

.indexA{
	height: 100%;
	width: 100%;
	align-items: center;
	margin-top: -100%;
}